.carouselImg {
    object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
}

.carouselItem {
    height: unset!important;
    text-align: center;
}
.margin-top-big{
    margin-top: 150px;
}
@media (max-width:768px){
    .margin-top-big{
        margin-top: 250px;
    }
}
@media (max-width:568px){
    .margin-top-big{
        margin-top: 350px;
    }
}