@use "../../config/styleVariables.scss" as vars;

.piccocabsimg-Div {
  height: 160px;
  display: flex;
  justify-content: center;
}
.login-with-otp {
  color: rgb(107, 181, 70);
  font-size: 30px;
  font-weight: 700;
}
.piccocab-text-loginwithotp-Div {
  display: flex;
  justify-content: center;
}
.piccocab-inputfield-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.piccocabssendotp-Button {
  background-color: rgb(107, 181, 70);
}
.piccocabssendotp-Button:hover {
  background-color: rgb(156, 224, 122);
}
.ant-modal-header {
  display: none;
}
.ant-modal-footer {
  display: none;
}
.piccocabsotpinputfield-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.piccocabssendotp-input {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.piccocabsfootertxt-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.piccocabsfootertxt {
  width: 72%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: vars.$regular;
}
.piccocabserrornotification {
  color: green;
  margin-top: 10px;
}
