.headingRow {
  border: 1px solid #b9b9b9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #6bb644;
}

.headeing {
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.contentRow {
  border: 1px solid #b9b9b9;
  border-top: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px 0 20px 20px;
  overflow: hidden;
  display: inline-block;
  /* box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px; */
  box-shadow: rgb(185 181 181 / 66%) 0px 10px 20px,
    rgb(154 146 146 / 72%) 0px 0px 6px;
}

.routeDiv {
  padding: 5px;
  font-size: 16px;
}
.routeDiv a {
  color: #6bb644;
}
.viewmore-button {
  width: 15%;
}

.routeDiv span {
  padding-right: 10px;
  color: crimson;
}

.toRouteContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 160px;
  //   background-color: aqua;
}

.innerDiv {
  overflow-y: auto;
  max-height: 143px;
}

@media screen and (max-width: 600px) {
  .toRouteContainer {
    padding: 0 0;
  }
  .toRouteContainer {
    width: 85% !important;
  }
}

@media screen and (max-width: 1200px) {
  .toRouteContainer {
    padding: 0 40px;
  }
}

// div::-webkit-scrollbar {
//   width: 10px;
//   min-height: 20px;
// }

div::-webkit-scrollbar-thumb {
  background: none;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #63c063;
}

div::-webkit-scrollbar-thumb {
  background-color: #87c787;
  /* outline: 1px solid slategrey; */
  border-radius: 100px;
}

// div::-webkit-scrollbar-track {
//   /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
//   /* background-color: whitesmoke;
//     border-radius: 100px; */
// }
