$primary: #68af44;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');




$font-family-base:'Ubuntu', sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";













.btn-outline-primary {
  --bs-btn-active-color: white;
}
.btn-primary {
  --bs-btn-active-color: white;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
}
