$primary: #68af44;

@import "../../node_modules/bootstrap/scss/bootstrap";













.btn-outline-primary {
  --bs-btn-active-color: white;
}
.btn-primary {
  --bs-btn-active-color: white;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
}
