.cardMain-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 12px;
  background-size: cover;
}

.cardMain-div1 {
  display: none;
}

@media screen and (min-width:768px) and (max-width:992px) {

  .card-div {
    width: 700px;
  }

  .subHeader1 {
    width: 100%;

  }

  .subHeader {
    width: 100%;

  }
}

.cardMain-div2 {
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;

}

.subHeader {
  background-color: hsl(0, 0%, 100%);
  width: 96%;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  box-shadow: #92ca92 0px 0px 10px 0px;
  border: 0px solid #92ca92;
  display: flex;
  justify-content: center;

}

.subHeader1 {
  display: flex;
  justify-content: center;
}

// .innerHead {
//   // background-color: red;
//   // height: 100%;
//   width: 50%;
//   display: flex;

//   align-items: flex-end;
// }
.card-Div {
  width: 30%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

.card {
  width: 100%;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  padding: 15px;
}

.picco-textDiv {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
}

.picco-div {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-div2 {
  display: none;
}

.picco-mini {
  width: 100%;
  height: 20%;
  margin-bottom: 9px;
  font-weight: 700;
}

.piccomini-info {
  width: 75%;
  height: 41%;
  margin-bottom: 9px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.piccoimg-Div {
  width: 100%;
  height: 55%;
  display: flex;
  font-family: "Montserrat", "Poppins", sans-serif;
  background-color: "pink";
  justify-content: end;
}

.seats-Div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: end;
  border-top: solid 1px #c8c8c8;
}

.bookingbutton-Div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.price-div1 {
  height: 100%;
  width: 200px;
  display: flex;
  justify-Content: center;
}

p {
  margin-bottom: 0%;
}

.price-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.seatcontent-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faredetail-Div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  font-family: "Montserrat", "Poppins", sans-serif;
  align-items: center;
}

.button-Div2 {
  display: none;
}

.button-Div {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.button {
  height: 75%;
  width: 34%;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #6BB546;
}

.selectcar-Div {
  width: 100%;
  height: 20%;
}

.Back-arrow {
  width: 9%;
  height: 5%;
}

.piccocartext-font {
  font-weight: 500;
}
.innerHead {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f7fff9;
  height: 71px;
}

.innerHead2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.ModifyButton-Div {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-color: #f7fff9;
}
.PickpDate-Div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 600;
  font-size: 13px;
}
.PickupTime-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
}
.modifyButton {
  width: 45%;
  height: 50%;
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid rgb(107, 181, 70);
  color: rgb(107, 181, 70);
  background-color: #ffff;
}
.Container-Card {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.inner-Card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-Card {
  // height: 120px !important;
  background-color: #ffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: gray -1px 5px 8px 1px;
  border: 0px solid #92ca92;
  width: 100%;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}
.cardnew {
  width: 100%;
  max-width: 70%;
  min-height: 120px;
  background: #ffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  border: 0px solid #6BB546;
  border-radius: 10px;
  box-shadow: #92ca92 0px 0px 10px 0px;
  margin-bottom: 17px;
}
.cardnew:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img {
  width: 100px;
  height: 70px;
  margin-left: 10px;
  border-radius: 10px;
}

.cardnew:hover>.img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}
.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: "Poppins" sans-serif;
}
.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span {
  font-size: 10px;
}
.h1 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.p {
  font-size: 12px;
  color: #000;
  font-weight: lighter;
}

.DetailModal-Main {
  width: 900px;
  // height: 100%;
  background-color: #fff;
  box-shadow: gray -1px 5px 8px 1px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -23px;
  margin-bottom: 23px;
}

.Exclusion-item-Div {
  width: 100%;
  height: 60px;
  display: flex;
}

.pay-DIV {
  width: 32%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MultiptlPickup-Div {
  width: 32%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parking-Div {
  width: 36%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilities-DIV {
  width: 100%;
  height: 60px;
  display: flex;
}

.seates-Div {
  width: 32%;
  height: 38px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.bags-Div {
  width: 32%;
  height: 38px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AC_Div {
  width: 36%;
  display: flex;
  font-weight: 500;
  justify-content: start;
  align-items: center;
  height: 38px;
}

// .inclusion-DIV {
//   width: 100%;
//   height: 40px;
//   display: flex;
//   background-color: aqua;
// }

.Basefare-DIV {
  // width: 25%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.Driver-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.StateTax-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.GST-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.car-img {
  width: 35px !important;
  height: 23px !important;
}

.currency-img {
  width: 35px !important;
  height: 23px !important;
}

.GSTimg {
  width: 35px !important;
  height: 23px !important;
}

.TandCtext-Div {
  width: 100%;
  height: 68px;
  font-size: 13px;
}

.DetailModal-div1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0px 20px 0px 20px;

}

.DetailModal-div2 {
  border: solid 1px #6BB546;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-Weight: 500;
  font-Size: 13px;
  height: 35px;
  color: #6BB546;
  // border-radius: 7px;

}
.DetailModal-div3{
  background-color: #6BB546;
  color: #fff;
  border: solid 1px #6BB546;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-Weight: 500;
  font-Size: 13px;
  height: 35px;
}

// @media (max-width: 568px) {
//   .inner-Card {
//     width: 100% !important;
//   }
// }

// @media (max-width: 567px) and (min-width: 768px) {
//   .inner-Card {
//     width: 100% !important;
//   }
// }

// @media (max-width: 769px) and (min-width: 991px) {center
// }
// .inner-Card {
//   width: 100% !important;
// }
.nopadding {
  padding-left: 0;
  padding-right: 0;

}

.Details-div2 {
  display: none !important;
}


@media screen and (max-width: 768px) {
  .Details-div1 {
    display: none !IMPORTANT;
  }

  .Details-div2 {
    display: flex !important;
    width: auto !important;
    margin: 20px;
  }

  .button-Div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

  }

  .price-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .inner-Card1 {
    display: flex;
    justify-content: center;
    border: solid 1px rgb(107, 181, 70);
  }

  .picco-textDiv {
    width: auto;
  }

  .button-Div1 {
    display: none;
  }

  .button-Div2 {
    display: block;
  }

  .price-div1 {
    width: auto;
  }

  .cardMain-div1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cardMain-div {
    padding: 20px 15px 15px 15px;
    display: block;
  }

  .card1 {
    width: 100%;
    text-align: center;
    border: 0px solid #92ca92;
    background-color: hsl(0, 0%, 100%);
    box-shadow: #92ca92 0px 0px 10px 0px;
    border-radius: 7px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .innerHead {
    width: 50%;
    font-size: 10px !important;

  }

  .subHeader1 {
    display: none;
  }

  .modifyButton {
    height: 90%;
    width: 85%;
  }

  .ModifyButton-Div1 {
    width: 100%;
    height: 50px;
  }

  .PickpDate-Div {
    font-size: 10px !important;
  }

  .PickpDate-Div1 {
    font-size: 13px;
    font-weight: 600;
  }

  .bkngscndStp-innrDiv {
    width: 350px !important;
    height: 40px !important;

  }
}


@media screen and (max-width: 576px) {
  .DetailModal-div1{
    padding: 0px 10px 0px 10px;

  }
  .DetailModal-div2{
    font-size: 11px;
  }
  .Container-Card {
    padding: 20px 0px 0px 0px;
  }

  .inner-Card1 {
    display: flex;
    justify-content: space-around;
  }

  .picco-div {
    display: none;
  }

  .bkngscndStp-innrDiv {
    width: 270px !important;
    height: 35px !important;

  }

  .card-Div {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .card {
    padding: 10px;
    height: 30% !important;
  }

  .seatcontent-Div {
    width: 63%;
  }

  .price-Div {
    justify-content: end;
  }

  .button {
    height: 90%;
    width: 50%;
  }

  .piccoImg {
    width: 35%;
  }

  .selectcar-Div {
    height: 7%;
  }

  // .piccominiImg {
  //   width: 38% !important;
  // }

  .piccosuvImg {
    width: 38% !important;
  }

  .piccosedanImg {
    width: 38% !important;
  }

  // .modifyButton {
  //   width: 55% !important;
  //   height: 40% !important;
  // }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .cardMain-div {
    background-image: none;
    justify-content: center;
  }

}

// @media (min-width: 760px) {
//   .inner-Card {
//     width: 100% !important;
//   }
// }
.bkngscndStp-kmCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bkngscndStp-innrDiv {
  width: 420px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #bfbfbf;
}

.bkngScndStp-innerDiv1 {
  height: 45px;
  width: 140px;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  color: #888;
  cursor: pointer;
}

.bkngScndStp-innerDiv1-chng {
  height: 45px;
  width: 140px;
  background-color: #6BB546;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.bkngScndStp-innerDiv2 {
  height: 45px;
  width: 140px;
  border-right: 2px solid rgb(0 0 0);
  border-left: 2px solid rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  color: #969696;
  cursor: pointer;
}

.bkngScndStp-innerDiv2-chng {
  height: 45px;
  width: 140px;
  background-color: #6BB546;
  border-right: 2px solid rgb(179, 179, 179);
  border-left: 2px solid rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.bkngScndStp-innerDiv3 {
  height: 45px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  color: #888;
  cursor: pointer;
}

.bkngScndStp-innerDiv3-chng {
  height: 45px;
  width: 140px;
  background-color: #6BB546;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.bkngscndStp-curveDiv {
  width: 60px;
  height: 45px;
  background-color: #f8f9fa;
  border-radius: 0% 0% 0% 100%;
}

.bkngscndStp-curveDivSub {
  width: 60px;
  height: 45px;
  background-color: #6BB546;
  border-radius: 0% 0% 0% 100%;
}

.bkngscndStp-curveDiv2 {
  width: 60px;
  height: 45px;
  background-color: #f8f9fa;
  border-radius: 0% 0% 100% 0%;
}

.bkngscndStp-curveDiv2Sub {
  width: 60px;
  height: 45px;
  background-color: #6BB546;
  border-radius: 0% 0% 100% 0%;
}

.DetailModal-Main {
  width: 100%;
  // height: 100%;
  background-color: #fff;
  box-shadow: gray -1px 5px 8px 1px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -23px;
  margin-bottom: 23px;
}

.Exclusion-item-Div {
  width: 100%;
  height: 60px;
  display: flex;
}

.pay-DIV {
  width: 32%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MultiptlPickup-Div {
  width: 32%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parking-Div {
  width: 36%;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilities-DIV {
  width: 100%;
  height: 60px;
  display: flex;
}

.seates-Div {
  width: 32%;
  height: 38px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.bags-Div {
  width: 32%;
  height: 38px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AC_Div {
  width: 36%;
  display: flex;
  font-weight: 500;
  justify-content: start;
  align-items: center;
  height: 38px;
}
.inclusion-DIV {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.Basefare-DIV {
  // width: 25%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.Driver-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.StateTax-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.GST-Div {
  // width: 30%;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.car-img {
  width: 35px !important;
  height: 23px !important;
}

.currency-img {
  width: 35px !important;
  height: 23px !important;
}

.GSTimg {
  width: 35px !important;
  height: 23px !important;
}

.TandCtext-Div {
  width: 100%;
  height: fit-content;
  font-size: 13px;
  padding-left: 20px;
  // background-color: #9198e5;
  // display: flex;
  // align-items: center;
}
