.cardMain-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 12px;
  background-size: cover;
  // background-image: url("../../assets/images/book_bg.jpg");
}
.cardMain-div2 {
  width: 100%;
  height: 100vh;
  display: flex;
  // justify-content: end;
  // padding: 12px;
  background-size: cover;
  background-image: url("../../assets/images/book_bg.jpg");
}
// .subHeader {
//   background-color: hsl(0, 0%, 100%);
//   width: 100%;
//   border-radius: 7px;
//   padding: 20px;
//   margin-bottom: -28px;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 15px;
//   box-shadow: #92ca92 0px 0px 10px 0px;
//   border: 0px solid #92ca92;
// }
.subHeader {
  background-color: hsl(0, 0%, 100%);
  width: 96%;
  border-radius: 7px;
  padding: 20px;
  // margin-bottom: -28px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  box-shadow: #92ca92 0px 0px 10px 0px;
  border: 0px solid #92ca92;
  margin-left: 20px;
}
// .innerHead {
//   // background-color: red;
//   // height: 100%;
//   width: 50%;
//   display: flex;

//   align-items: flex-end;
// }
.card-Div {
  width: 30%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}
.card {
  width: 100%;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  padding: 15px;
}
.picco-mini {
  width: 100%;
  height: 20%;
  margin-bottom: 9px;
  font-weight: 700;
}
.piccomini-info {
  width: 75%;
  height: 41%;
  margin-bottom: 9px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.piccoimg-Div {
  width: 100%;
  height: 55%;
  display: flex;
  font-family: "Montserrat", "Poppins", sans-serif;
  background-color: "pink";

  justify-content: end;
}
.seats-Div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: end;
  border-top: solid 1px #c8c8c8;
}
.bookingbutton-Div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.price-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.seatcontent-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faredetail-Div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  font-family: "Montserrat", "Poppins", sans-serif;
  align-items: center;
}
.button-Div {
  height: 10%;
  display: flex;
  justify-content: end;
  border-radius: 8px;
}
.button {
  height: 75%;
  width: 34%;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(107, 181, 70);
}
.selectcar-Div {
  width: 100%;
  height: 20%;
}
.Back-arrow {
  width: 9%;
  height: 5%;
}
.piccocartext-font {
  font-weight: 500;
}

.innerHead {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f7fff9;
  height: 71px;
}
.innerHead2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.ModifyButton-Div {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-color: #f7fff9;
}

.PickpDate-Div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 600;
}

.PickupTime-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modifyButton {
  width: 45%;
  height: 50%;
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid rgb(107, 181, 70);
  color: rgb(107, 181, 70);
  background-color: #ffff;
}

.Container-Card {
  width: 100%;
  height: 540px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 100px;button-Div
  border-radius: 5px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}
.inner-Card {
  height: 120px !important;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  background-color: #ffff;
  padding: 15px;
  border: 1px solid #198754;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: #92ca92 0px 0px 10px 0px;
  border: 0px solid #92ca92;
  width: 100%;
}
.piccojourney-Div {
  width: 70% !important;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}

.cardnew {
  width: 100%;
  max-width: 70%;
  min-height: 120px;
  background: #ffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  border: 0px solid #198754;
  border-radius: 10px;
  box-shadow: #92ca92 0px 0px 10px 0px;
  margin-bottom: 17px;
}

.cardnew:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 100px;
  height: 70px;
  margin-left: 10px;
  border-radius: 10px;
}

.cardnew:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: "Poppins" sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.p {
  font-size: 12px;
  color: #000;
  font-weight: lighter;
}

.qwerty {
  box-shadow: #575555 0px 0px 0px 0px;
  border: 1px solid #a4a0a0;
  height: 115px;
  width: 80%;
  border-radius: 6px;
  display: flex;
}

.bookingsecondstepmobileview-Div {
  display: none !important;
}

.piccocarmobileview-Div {
  display: flex;
  justify-content: center;
  width: 72%;
}
.bookingsecondstepdiv {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

@media (min-width: 576px) and (max-width: 786px) {
  .innerHead {
    width: 50%;
    font-size: 10px !important;
  }

  .ModifyButton-Div {
    width: 100%;
  }
  .PickpDate-Div {
    font-size: 10px !important;
  }
  .Container-Card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-Card {
    width: 100% !important;
  }
  .piccojourney-Div {
    width: 100% !important;
  }
  .inner-Card {
    width: 100% !important;
  }
  .subHeader {
    width: 94% !important;
  }
  .button-Div {
    width: 70%;
  }
  .card-Div {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .cardMain-div {
    padding: 0px;
  }
  .card {
    padding: 10px;
    height: 30% !important;
  }
  .seatcontent-Div {
    width: 63%;
  }
  .price-Div {
    justify-content: end;
  }
  .button {
    height: 90%;
    width: 50%;
  }
  .piccoImg {
    width: 35%;
  }
  .selectcar-Div {
    height: 7%;
  }
  .piccominiImg {
    width: 100% !important;
  }
  .piccosuvImg {
    width: 38% !important;
  }
  .piccosedanImg {
    width: 38% !important;
  }
  .modifyButton {
    width: 55% !important;
    height: 40% !important;
  }
  .cardMain-div {
    background-image: none;
    justify-content: center;
  }
  .piccocartext-font {
    font-size: 14px;
  }
  .picco-mini {
    font-size: 14px;
  }
  .piccomini-info {
    font-size: 14px;
  }
  .bookingsecondstepmobileview-Div {
    display: none;
  }
}
@media screen and (min-width: 786px) and (max-width: 1200px) {
  .inner-Card {
    width: 100% !important;
  }
  .piccojourney-Div {
    width: 90% !important;
  }
  .subHeader {
    width: 94% !important;
  }
  .button-Div {
    width: 70%;
  }
  .bookingsecondstepmobileview-Div {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .inner-Card {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .cardMain-div {
    display: none;
  }
  .bookingsecondstepmobileview-Div {
    display: block !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
