.cardMain-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  padding: 15px;
  background-size: cover;

  background-image: url("../../assets/images/book_bg.jpg");
}
.card-Div {
  width: 30%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}
.card {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  padding: 15px;
}
.picco-mini {
  width: 100%;
  height: 20%;
}
.piccoimg-Div {
  width: 100%;
  height: 55%;
  display: flex;
  font-family: "Montserrat", "Poppins", sans-serif;

  justify-content: end;
}
.seats-Div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: end;
  border-top: solid 1px #c8c8c8;
}
.bookingbutton-Div {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.price-Div {
  height: 100%;
  width: 50%;
}
.price-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seatcontent-Div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faredetail-Div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  font-family: "Montserrat", "Poppins", sans-serif;

  align-items: center;
}
.button-Div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  border-radius: 8px;
}
.button {
  height: 75%;
  width: 34%;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(107, 181, 70);
}
.selectcar-Div {
  width: 100%;
  height: 20%;
}
.Back-arrow {
  width: 9%;
  height: 5%;
}

@media screen and (max-width: 576px) {
  .card-Div {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .cardMain-div {
    padding: 0px;
  }
  .card {
    padding: 10px;
    height: 30% !important;
  }
  .seatcontent-Div {
    width: 63%;
  }
  .price-Div {
    justify-content: end;
  }
  .button {
    height: 90%;
    width: 50%;
  }
  .piccoImg {
    width: 35%;
  }
  .selectcar-Div {
    height: 7%;
  }
  .piccominiImg {
    width: 38% !important;
  }
  .piccosuvImg {
    width: 38% !important;
  }
  .piccosedanImg {
    width: 38% !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .cardMain-div {
    background-image: none;
    justify-content: center;
  }
}
