.btn-explore-cabs {
  top: 30px;
}
.btn-outline-primary {
  --bs-btn-active-color: white;
}
.btn-primary {
  --bs-btn-active-color: white;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
}

.title-city-cabs {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    inset: -8px auto auto 50%;
    background-color: #68af44;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    inset: auto auto -8px 50%;
    background-color: #68af44;
    transform: translateX(-50%);
  }
}

.bg-picco-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/banner_desktop3.jpg");
  // background-color: #77bd54;
  height: 230px;
}
.banner-position-absolute {
  position: absolute;
  top: 140px;
}

@media (min-width: 768px) {
}
