.btn-explore-cabs {
  top: 30px;
}
.btn-outline-primary {
  --bs-btn-active-color: white;
}
.btn-primary {
  --bs-btn-active-color: white;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
}

.title-city-cabs{
  position: relative;
  &::before{
   content: '';
   position: absolute;
   width: 90%;
   height: 2px;
   inset: -8px auto auto 50%;
   background-color: #68af44;
   transform: translateX(-50%);

  }
  &::after{
   content: '';
   position: absolute;
   width: 90%;
   height: 2px;
   inset: auto auto -8px 50%;
   background-color: #68af44;
   transform: translateX(-50%);
  }
}
